* {
    font-family: Tahoma, sans-serif;
}

body {
    background-image: url(https://st.depositphotos.com/1172243/3589/i/600/depositphotos_35893879-stock-photo-background-with-subtle-seamless-pattern.jpg);
    box-sizing: border-box;
}

footer {
    background-color: grey;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

h1 {
    color: #f8c73f;
}

p {
    font-size: large;
}

button {
    margin: 0 0 10px 0;
}

.footer-top-bar {
    background-color: #f5d273;
    width: 100%;
    height: 10px;
}

.container {
    /* height: 100%; */
    /* width: 100%; */
    /* margin: 50px auto; */
    background-color: white;
}

#title-bg-color {
    background-color: #fce095;
}
 img{
   margin-bottom: 10px;
 }

 .floatingImg{
     float: left;
     margin: 20px;
 }

 .btn-color{
     background-color: #f5d273;
 }