* {
    font-family: Tahoma, sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/564x/0c/67/c5/0c67c5ac8665eb27a52c8064ddaaefa1.jpg);
}

.container {
    height: 100%;
    width: 100%;
    margin: 50px auto;
    background-color: white;
}

#title-bg-color {
    background-color: #fce095;
}
